// Agenda Web - Folha de estilos

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

// Variables
$lightblue: #1D71B8
$darkblue: #214E7E
$darkgray: #171717
$gray: #666

// Helpers
.wrapper
	.flex
		display: flex
	.wrap
		flex-wrap: wrap
	.align-center
		align-items: center
	.align-start
		align-items: flex-start
	.justify-center
		justify-content: center
	.justify-end
		justify-content: flex-end
	.flex-column
		flex-direction: column 

html, body
	margin: 0
	font-family: 'Roboto', sans-serif
	font-size: 18px
	line-height: 1.5
	color: $gray

a, a:active
	text-decoration: none
	color: inherit

// Componentes
.wrapper
	.button
		display: block
		margin-bottom: 0
		padding: 16px 28px
		color: white
		font-size: 16px
		font-weight: 700
		border-radius: 50px
		text-decoration: none
		&.dark-blue
			background-color: $darkblue
		&.light-blue
			background-color: $lightblue
		&.white
			background-color: white
			color: $darkblue

	.title
		color: $darkgray
		font-weight: 900
		font-size: 36px
		margin-bottom: 16px
		line-height: initial
	.second-title
		color: $darkblue
		font-weight: 700
		font-size: 24px
		margin-bottom: 16px
		line-height: initial

	.card
		background-color: white
		border-radius: 24px
		padding: 24px

// Header & Navigation
header
	padding: 24px 0
	box-shadow: 0 4px 16px 0 rgba(0,0,0, 0.8)
	background-color: white
	.flex
		width: 100%
	nav a
		padding-right: 24px
		&.active
			color: $lightblue
			font-weight: 900

// Sections
section
	&.hero
		background-image: url('../images/hero-bg.jpg')
		background-repeat: no-repeat
		background-position: center top
		background-size: cover
		.section-wrap
			height: 500px
		.title
			font-size: 44px
			color: #214E7E
			margin-bottom: 32px
	&.sobre
		padding: 56px 0
	&.planos
		padding: 40px 0
		background-color: #f2f2f2
	&.cadastro
		background-image: url('../images/cadastro-bg.jpg')
		background-repeat: no-repeat
		background-position: center top
		background-size: cover
		.section-wrap
			height: 424px
		.title
			font-size: 36px
			color: white
		.paragraph
			color: white

footer
	height: 140px
	background-color: $gray
