// Agenda Web - Folha de estilos

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

// Variables
$lightblue: #1D71B8
$darkblue: #214E7E
$darkgray: #171717
$gray: #666

// Helpers
.wrapper
	.flex
		display: flex
	.wrap
		flex-wrap: wrap
	.align-center
		align-items: center
	.align-start
		align-items: flex-start
	.align-start-to-center
		align-items: flex-start
		@media only screen and (max-width: 40rem)
			align-items: center
	.justify-center
		justify-content: center
	.justify-end
		justify-content: flex-end
	.justify-end-to-center
		justify-content: flex-end
		@media only screen and (max-width: 40rem)
			justify-content: center
	.space-between
		justify-content: space-between
	.flex-column
		flex-direction: column
	.full-height
		height: 100% 

// Menu toggle aparece na tela pequena (abaixo 640px)
.menu-toggle
	display: none
	img
		width: 32px
	@media only screen and (max-width: 40rem)
		display: block

@media only screen and (max-width: 40rem)
	.js .header-nav
		overflow: hidden
		max-height: 0

html, body
	margin: 0
	font-family: 'Roboto', sans-serif
	font-size: 18px
	line-height: 1.5
	color: $gray

a, a:active
	text-decoration: none
	color: inherit

img
	height: auto

// Componentes
.wrapper
	// max-width: 1280px
	// margin: 0 auto
	overflow: hidden
	.button
		display: block
		margin-bottom: 0
		padding: 16px 28px
		color: white
		font-size: 16px
		font-weight: 700
		border-radius: 50px
		text-decoration: none
		&.dark-blue
			background-color: $darkblue
		&.light-blue
			background-color: $lightblue
		&.white
			background-color: white
			color: $darkblue

	.title
		margin-bottom: 16px
		line-height: initial
		&--first
			color: $darkgray
			font-weight: 900
			font-size: 36px
		&--second
			color: $darkblue
			font-weight: 700
			font-size: 24px
		&--third
			color: $gray
			font-weight: 900
			font-size: 24px
		&--fourth
			color: $gray
			font-weight: 400
			font-size: 24px

	.card
		background-color: white
		border-radius: 24px
		padding: 24px

// Header & Navigation
.header
	padding: 24px 0
	box-shadow: 0 4px 16px 0 rgba(0,0,0, 0.08)
	background-color: white
	position: fixed
	width: 100%
	z-index: 1
	transition: 0.2s
	.flex
		width: 100%
	.logo
		max-width: 340px
		transition: 0.5s
	.header-nav a
		padding-right: 24px
		&.active
			color: $lightblue
			font-weight: 900
	&.scrolling
		padding: 16px 0
		transition: 0.2s
		.logo
			max-width: 170px
			max-height: 35px
			transition: 0.5s
		.header-nav a
			font-size: 16px
	@media only screen and (max-width: 40rem)
		.header-wrapper
			flex-direction: column
		.logo
			max-width: 240px
		.header-nav
			flex-direction: column
			transition: 0.2s
			a
				padding-right: 0
				padding-bottom: 10px
				&.button
					padding: 16px 28px
			&.active
				transition: 0.2s
				margin: 20px 0
				max-height: initial

// Sections
section
	&.hero
		background-image: url('../images/hero-bg.jpg')
		background-repeat: no-repeat
		background-position: center top
		background-size: cover
		padding-top: 120px
		.section-wrap
			height: 500px
		.title
			font-size: 44px
			color: #214E7E
			margin-bottom: 32px
	&.sobre
		padding: 56px 0
		.icones
			margin-bottom: 24px
		article
			max-width: 250px
		.grid-container:last-child
			padding-top: 65px
		.sobre-bg
			position: relative
			right: -120px
			@media only screen and (max-width: 40rem)
				right: initial
		@media only screen and (max-width: 40rem)
			article
				margin: 40px auto
			.title--first
				margin-top: 80px
	&.planos
		padding: 40px 0
		background-color: #f2f2f2
		.paragraph
			margin-bottom: 32px
		.card
			box-shadow: 0 4px 16px 0 rgba(black, 0.08)
			@media only screen and (max-width: 40rem)
				margin: 10px
	&.cadastro
		background-image: url('../images/cadastro-bg.jpg')
		background-repeat: no-repeat
		background-position: center top
		background-size: cover
		margin: 56px 0
		.section-wrap
			height: 424px
		.title
			font-size: 36px
			color: white
		.paragraph
			color: white

.page--cadastro section
	&.hero
		background-image: url('../images/cadastro-hero-bg.jpg')
		.section-wrap
			height: 350px
		.title
			color: white
	&.form
		padding: 56px 0
		text-align: center

footer
	background-color: $gray
	color: white
	.footer-wrapper
		height: 140px
		div
			flex-grow: 1
		span
			margin-top: 16px
	.footer-nav a
		margin-right: 32px
		&:last-child
			margin-right: 0
	.social-media-icons a
		display: inline-block
		width: 35px
		height: 35px
		border-radius: 18px
		background-color: rgba(black, 0.3)
		margin-right: 32px
		transition: 0.5s
		&:hover
			background-color: rgba(black, 0.7)
		&:last-child
			margin-right: 0
	@media only screen and (max-width: 40rem)
		padding: 20px
		.footer-wrapper
			height: initial
			flex-direction: column
		.footer-nav
			flex-direction: column
			a
				margin-right: 0
		.flex
			margin-top: 10px
