@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.wrapper .flex {
  display: flex; }

.wrapper .wrap {
  flex-wrap: wrap; }

.wrapper .align-center {
  align-items: center; }

.wrapper .align-start {
  align-items: flex-start; }

.wrapper .justify-center {
  justify-content: center; }

.wrapper .justify-end {
  justify-content: flex-end; }

.wrapper .flex-column {
  flex-direction: column; }

.wrapper .full-height {
  height: 100%; }

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #666; }

a, a:active {
  text-decoration: none;
  color: inherit; }

img {
  height: auto; }

.wrapper {
  overflow: hidden; }
  .wrapper .button {
    display: block;
    margin-bottom: 0;
    padding: 16px 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none; }
    .wrapper .button.dark-blue {
      background-color: #214E7E; }
    .wrapper .button.light-blue {
      background-color: #1D71B8; }
    .wrapper .button.white {
      background-color: white;
      color: #214E7E; }
  .wrapper .title {
    margin-bottom: 16px;
    line-height: initial; }
    .wrapper .title--first {
      color: #171717;
      font-weight: 900;
      font-size: 36px; }
    .wrapper .title--second {
      color: #214E7E;
      font-weight: 700;
      font-size: 24px; }
    .wrapper .title--third {
      color: #666;
      font-weight: 900;
      font-size: 24px; }
  .wrapper .card {
    background-color: white;
    border-radius: 24px;
    padding: 24px; }

.header {
  padding: 24px 0;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.2s; }
  .header .flex {
    width: 100%; }
  .header .logo {
    max-width: 340px;
    transition: 0.2s; }
  .header nav a {
    padding-right: 24px; }
    .header nav a.active {
      color: #1D71B8;
      font-weight: 900; }
  .header.scrolling {
    padding: 16px 0; }
    .header.scrolling .logo {
      max-width: 170px;
      max-height: 35px; }
    .header.scrolling nav a {
      font-size: 16px; }

section.hero {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 120px; }
  section.hero .section-wrap {
    height: 500px; }
  section.hero .title {
    font-size: 44px;
    color: #214E7E;
    margin-bottom: 32px; }

section.sobre {
  padding: 56px 0; }
  section.sobre .icones {
    margin-bottom: 24px; }
  section.sobre article {
    max-width: 250px; }
  section.sobre .grid-container:last-child {
    padding-top: 65px; }
  section.sobre .sobre-bg {
    height: 444px;
    position: relative;
    right: -120px; }

section.planos {
  padding: 40px 0;
  background-color: #f2f2f2; }
  section.planos .paragraph {
    margin-bottom: 32px; }
  section.planos .card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08); }

section.cadastro {
  background-image: url("../images/cadastro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 56px 0; }
  section.cadastro .section-wrap {
    height: 424px; }
  section.cadastro .title {
    font-size: 36px;
    color: white; }
  section.cadastro .paragraph {
    color: white; }

footer {
  background-color: #666;
  color: white; }
  footer .footer-wrapper {
    height: 140px; }
    footer .footer-wrapper div {
      flex-grow: 1; }
    footer .footer-wrapper span {
      margin-top: 16px; }
  footer .footer-nav a {
    margin-right: 32px; }
    footer .footer-nav a:last-child {
      margin-right: 0; }
  footer .social-media-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 32px;
    transition: 0.5s; }
    footer .social-media-icons a:hover {
      background-color: rgba(0, 0, 0, 0.7); }
    footer .social-media-icons a:last-child {
      margin-right: 0; }
